.inputWrap {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 3.5rem;
}

input {
  background-color: var(--C-background);
  outline: none;
  border: 1px solid var(--C-typo);
  color: var(--C-typo);
  padding: 1.5rem 1.5rem;
}

input:focus {
  outline: none;
  border: 1px solid var(--Cb-button);
  box-shadow: 0 0 2px #7a5b2d;
}
